*{
    margin: 0;
    overflow: hidden;
}
body{
    background-color: #000;;
}
.content {
    height: 95vh;
    margin: auto; /* Ustawienie marginesów na auto spowoduje, że div będzie wyśrodkowany zarówno w pionie, jak i poziomie */
    border-radius: 20px;
    background-color: #fff; /* zmień kolor tła według potrzeb */
    padding: 20px;
    display: flex; /* Ustawienie na flex */
    flex-direction: column; /* Ustawienie kierunku na kolumnę */
    justify-content: center; /* Wyśrodkowanie wertykalne */
    align-items: center; /* Wyśrodkowanie poziome */
}
/* Dodatkowy styl dla przycisków */
.arrow {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #ff0000;
    cursor: pointer;
    margin: 30px;
}

#arrow-left {
    left: 10px;
}

#arrow-right {
    right: 10px;
}